absl-py==2.3.0
accelerate==1.8.1
audioread==3.0.1
causal-conv1d @ file:///share/workspace/maduo/codebase/speaker_diarization/egs/magicdata-ramc/causal_conv1d-1.5.0.post8+cu11torch2.5cxx11abiFALSE-cp311-cp311-linux_x86_64.whl
certifi==2025.6.15
cffi==1.17.1
charset-normalizer==3.4.2
click==8.2.1
cytoolz==1.0.1
decorator==5.2.1
einops==0.8.1
filelock==3.13.1
fsspec==2024.6.1
grpcio==1.73.1
hf-xet==1.1.5
huggingface-hub==0.33.1
idna==3.10
intervaltree==3.1.0
jinja2==3.1.4
joblib==1.5.1
lazy-loader==0.4
lhotse @ git+https://github.com/lhotse-speech/lhotse@fda1a986e5e1e72a14c82049b4ee709fc09a81e6
librosa==0.10.2
lilcom==1.8.1
llvmlite==0.44.0
mamba-ssm @ file:///share/workspace/maduo/codebase/speaker_diarization/mamba_ssm-2.2.4+cu11torch2.5cxx11abiFALSE-cp311-cp311-linux_x86_64.whl
markdown==3.8.2
markupsafe==2.1.5
more-itertools==10.7.0
mpmath==1.3.0
msgpack==1.1.1
networkx==3.3
ninja==1.11.1.4
numba==0.61.2
numpy==2.1.2
nvidia-cublas-cu11==11.11.3.6
nvidia-cuda-cupti-cu11==11.8.87
nvidia-cuda-nvrtc-cu11==11.8.89
nvidia-cuda-runtime-cu11==11.8.89
nvidia-cudnn-cu11==9.1.0.70
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.3.0.86
nvidia-cusolver-cu11==11.4.1.48
nvidia-cusparse-cu11==11.7.5.86
nvidia-nccl-cu11==2.21.5
nvidia-nvtx-cu11==11.8.86
openai-whisper @ git+https://github.com/openai/whisper.git@c0d2f624c09dc18e709e37c2ad90c039a4eb72a2
packaging==25.0
pandas==2.3.0
pillow==11.0.0
platformdirs==4.3.8
pooch==1.8.2
protobuf==6.31.1
psutil==7.0.0
pyannote-core==5.0.0
pycparser==2.22
python-dateutil==2.9.0.post0
pytz==2025.2
pyyaml==6.0.2
regex==2024.11.6
requests==2.32.4
safetensors==0.5.3
scikit-learn==1.7.0
scipy==1.16.0
setuptools==80.9.0
six==1.17.0
sortedcontainers==2.4.0
soundfile==0.13.1
soxr==0.5.0.post1
sympy==1.13.1
tabulate==0.9.0
tensorboard==2.19.0
tensorboard-data-server==0.7.2
threadpoolctl==3.6.0
tiktoken==0.9.0
tokenizers==0.21.2
toolz==1.0.0
torch==2.5.1+cu118
torchaudio==2.5.1+cu118
torchvision==0.20.1+cu118
tqdm==4.67.1
transformers==4.53.0
triton==3.1.0
typing-extensions==4.12.2
tzdata==2025.2
urllib3==2.5.0
werkzeug==3.1.3
